@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;300;400&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    font-family: "Fira Sans", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-button {
        @apply w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
    }
}